---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog-One
  order: 1
numberOfLatestPostsToShow: 3
---

<h1> Welcome to my Blog-One page </h1>

<p> This is my logo that I would like to include on each page </p>

{% image "./LogoMC.png", "A Blog-One Logo" %}
